$border-radius: 8px;
$border-color: black;
$box-shadow: 3px 2px 1px #000;

@mixin common-styles {
    border-radius: $border-radius !important;
    border: 1px solid $border-color !important;
    height: 50px;
}

.button {
    @include common-styles;
    width: 50px;
}

.colorPicker {
    @include common-styles;
    width: 150px;
}

.button-selected,
.button:hover {
    @include common-styles;
    width: 50px;
    box-shadow: $box-shadow;
}

.image {
    width: 24px; 
    height: 24px;
}